@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    height: 100%;
    width: 100%;
    background: #141e30;
}

body{
    height: 100%;
    background: #141e30;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #141e30;
}