@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.groups-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.groups-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f3f3f3;
    margin-bottom: 1rem;
}

.group {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
}

.group h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.group h2 {
    letter-spacing: 1px;
    margin: 10px 0;
}

.group-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

.group-preview .delete {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

.group-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 75%;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.group-info .btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

.createBtn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}

.errorMsg {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 12px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;

}


.create-group-form {
    background: #2A265F;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 30%;
    padding: 40px;
    margin-bottom: 30px;
}
.create-group-form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.create-group-form input[type="text"] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.create-group-form select {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin: 10px 0;
}

.create-group-form button{
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
    color: #fff;
    background-color: #2A265F;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.create-group-form button:hover {
    background-color: #fff;
    color: #2A265F;
}