<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  import tailwind css -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>WhatsPoll</title>
</head>

<body>
    <main class="mx-auto flex min-h-screen w-full items-center justify-center bg-gray-900 text-white">
        <!-- component -->
        <section class="flex w-[30rem] flex-col space-y-10">
            <div class="text-center text-4xl font-medium">Register</div>  

            <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
                <input type="text" placeholder="Email or Username"
                    class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" />
            </div>

            <div class="w-full transform border-b-2 bg-transparent text-lg duration-300 focus-within:border-indigo-500">
                <input type="password" placeholder="Password"
                    class="w-full border-none bg-transparent outline-none placeholder:italic focus:outline-none" />
            </div>

            <button class="transform rounded-sm bg-indigo-600 py-2 font-bold duration-300 hover:bg-indigo-400"
                id="Register">
                Register
            </button>

           

            <p class="text-center text-lg">
                Have an account?
                <a href="#" class="font-medium text-indigo-500 underline-offset-4 hover:underline">Log in</a>
            </p>
        </section>
    </main>

    <script>
        const login = document.getElementById('login');
        login.addEventListener('click', () => {
            window.location.href = 'index.html';
        });
    </script>
</body>

</html>